#lastfmwidget {
    margin:auto;
    width:98%;
    border:white;
    font-family:Inter;
    font-weight:625;
    font-size:24px;
    text-align:left;
    --image-color:#000000;
    --image-color-darker:#000000;
    --title-length:0;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
}

#tag {
    color:white;
    order:1;
    margin:0;
}

#songInfo {
    margin-top:5px;
    white-space:normal;
    overflow:wrap;
    color:white;
}

#song {
    font-size:clamp(14px, calc(96px * (1/var(--title-length))*12), 52px);
    order:2;
    margin:0;
}

#artist {
    font-weight:400;
    font-size:28px;
    order:3;
    margin:0;
}

#album {
    font-weight:300;
    font-size:22px;
    order:4;
    margin:0;
}