html {
        min-height:100%;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin:0;
    height:100vh;
    overflow:hidden;
    display:grid;
    grid-template-columns: 25vw 50vw 25vw;
}

#bg {
    position:fixed;
    inset:-15px;
    background-image:url(site-images/wallpaper\ debian.png);
    background-position:center;
    background-size:cover;
    filter:blur(5px) brightness(0.5);
    z-index:-99;
}

#title {
    margin:0;
    padding:0;
    text-align:center;
    font-size:64px;
    z-index:2;
    display:inline-block;
}

#title h1 {
    margin:0;
    z-index:2;
}

@keyframes splash-animate {
    0%  { transform: rotate(-18deg) scale(1); }
    50% { transform: rotate(-18deg) scale(0.5); }
    100% { transform: rotate(-18deg) scale(1); }
}

#splash {
    position: relative;
    margin-left:12em;
    margin-top:-1em;
    vertical-align:top;
    font-size: 36px;
    color: rgba(255, 227, 45, 1);
    font-family: 'Comic Sans MS';
    text-shadow: 0 0 15px;
    animation: splash-animate 2s infinite ease;
    transform: rotate(-22deg);
    white-space: nowrap;
    display: inline-block;
    z-index:10;
}

#nav {
    display: flex;
    flex-direction:column;
    padding:0 15px;
    z-index: 10;
    height: 85vh;
    justify-content: space-evenly;
    margin:0;
}

#nav a {
    text-decoration:underline;
    text-align:left;
    text-underline-offset: 4px;
    color:white;
    font-size:clamp(16pt, 3vw, 56pt);
}

#nav h3{
    color:white;
    transition: color 0.2s ease;
    margin:0;

}

#nav h3:hover{
    color:rgb(246, 132, 240);
    transition: color 0.2s ease;
    cursor:pointer;
}

#logo {
    height:12vh;
    border: solid white 2px;
    position:absolute;
    left:0;
    z-index:1;
}

#titlerow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 15px;
    width: 100%;
    position:relative;
}

.gradient {
    background-image:linear-gradient(90deg, rgba(255,35,117,1) 30%, rgba(255,95,246,1) 50%, rgba(129,197,247,1) 60%, rgba(129,154,255,1) 80%, rgba(29,29,255,1) 100%);
    background-size:auto;
    background-clip:text;
    background-repeat:no-repeat; 
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-background-clip: text;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color:white;
}

.gap {
    padding-top:15px;
    padding-bottom:15px;
}

#centerpanel {
    display: flex;
    grid-column: 2;
    position: relative;
    margin: 15px;
    box-sizing: border-box;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 30px);
    overflow: hidden;
}

#leftpanel {
    position:sticky;
    position:relative;
    grid-column:1;
    left: 0;
    top: 0;
    height: calc(100vh - 30px);
    margin: 15px 15px 15px 15px;
    box-sizing: border-box;
    border: 10px dashed rgba(63,63,63,0.6);
    display:flex;
    flex-direction:column;
    align-items:center;
}

#rightpanel {
    position:sticky;
    position:relative;
    grid-column:3;
    right: 0;
    top: 0;
    height: calc(100vh - 30px);
    margin: 15px 15px 15px 15px;
    box-sizing: border-box;
    border: 10px dashed rgba(63,63,63,0.6);
}

@keyframes fade {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
}

#about.switching {
    animation: fade 0.5s ease;
}

#about {
    position: static;
    width: 100%;
    color: white;
    font-size: 32px;
    align-self: flex-start;
    overflow-y: auto;
    flex: 1; 
    scrollbar-width: none;
    margin:0;
    mask-image: linear-gradient(
    to bottom,
    transparent 0px,
    black 10px,
    black calc(100% - 20px),
    transparent 100%
);

}

#about::-webkit-scrollbar {
    width: 0;
}

br.spacer {
    display:block;
    margin-bottom:2em;
}

#socials {
    position: sticky;
    bottom: 0;
    transform: none;
    display: flex;
    gap: 32px;
    box-sizing: border-box;
    border: 10px dashed rgba(63,63,63,0.6);
    width: fit-content;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.3);
    align-self: center;
}

#socials img {
    width:72px;
    height:72px;
    opacity: 0.75;
    filter:grayscale(1);
    transition: all 0.2s ease;
}

#socials a {
    position:relative;
}

#socials a::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 18px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
}


#socials a:hover::after {
    opacity: 1;
}

#socials img:hover {
    filter:grayscale(0);
    opacity: 1;
    transform:scale(1.1);
}

a {
    text-decoration:underline;
    text-align:left;
    text-underline-offset: 4px;
    color:white;
    font-size:32px;
}

a:hover {
    color:rgb(246, 132, 240);
    transition: color 0.2s ease;
    cursor:pointer;
    text-decoration-color:white;
}

#info {
    position:absolute;
    top:0;
    right:15px;
    text-align:right;
    color:rgba(255, 255, 255, 0.4);
    margin:0 auto;
}

#copyright {
    font-size:18px;
}

#updated {
    font-size:14px;
}

#photogrid {
    columns: 2;
    box-sizing: border-box;
    gap: 15px;
    width:100%;
}

#photogrid img {
    width: 100%;
    margin-bottom: 10px;
    display: block;
    border: solid white 2px;
    box-sizing: border-box;
}

#widgets {
    display:flex;
    flex-direction:column;
    padding:0;
    z-index: 10;
    justify-content:center;
    align-items:left;
    flex: 1;
    overflow: hidden;
    min-height: 0;
    padding-top:50px;
}

.widget {
    justify-content:center;
    text-align:left;
    color:white;
    font-size:32px;
    margin:10px 25px;
}

#albumcovers {
    position:relative;
    display:inline-block;
}

#albumcovers h2 {
    position:absolute;
    top:0;
    margin:5px;
    z-index:4;
    font-size:18px;
    color:rgba(255,255,255,0.9);
    backdrop-filter:blur(8px);
    padding:4px;
}

#albumcovers img {
    display:block;
    z-index:2;
    width:100%;
    border: solid white 2px;
    box-sizing: border-box;
}

#changes {
    text-align:left;
    font-size:2vw;
}

#changes ul {
    list-style:none;
    margin:0;
    padding:0;
}

#changes li {
    font-size:1.75vw;
    padding:5px;
}

@media screen and (max-width: 1350px) {
    #title {
        font-size:32px;
    }

    #logo {
        display:none;
    }

    #splash {
        display:none;
    }

    .gradient {
        background-image:linear-gradient(90deg, rgba(255,35,117,1) 30%, rgba(255,95,246,1) 50%, rgba(129,197,247,1) 60%, rgba(129,154,255,1) 80%, rgba(29,29,255,1) 100%);
        background-size:auto;
        background-clip:text;
        background-repeat:no-repeat; 
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
        -moz-background-clip: text;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color:white;
    }

    .widget {
        font-size:24px;
    }

}

@media screen and (max-width: 1200px) {
    body {
        grid-template-columns: 30vw 70vw ;
    }

    #rightpanel {
        display:none;
    }

    #nav a {
        font-size:clamp(18px, 4vw, 48px);
    }
}